<div class="w-100 p-1 d-flex justify-content-end">
  <%= link_to "Create List", new_list_path, class: "btn btn-secondary m-1 fw-bold lh-lg" %>
  <%= link_to "My List", lists_path, class: "btn btn-secondary m-1 fw-bold lh-lg" %>

</div>
<div class="card-categor" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(https://cdn.dribbble.com/userupload/8689569/file/original-f18c8cded3cc7498181efac5d8b4292a.png?resize=1024x768)">
  <h1 class="home-header">Movies Lists</h1>
</div>


<div class="p-5">
  <div class="cards">
    <% @lists.each do |list|%>
      <%= link_to list_path(list), class:"home-card" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,4), rgba(0,0,0,0.3)), url(https://cdn.dribbble.com/userupload/14265818/file/original-8420b1f75fe2f569e4716b819af2967b.png?resize=1024x768)">
          <h2 class="fw-bolder fs-1 "><%=list.name%></h2>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
