.add-bottom-padding {
  padding-bottom: 150px;
}
.main-banner {
  background-size: fit;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  border-radius: 5px;
}


.home-header {
  color: $cyan;
  font-size: 250px;
  font-weight: bolder;
  letter-spacing: 30px;
  -webkit-text-stroke: 20px $cyan;
}

.fit-image {
  background-size: cover;
  background-position: 90% 35%;
  box-shadow: 3px 3px 5px gray;
}


.show-header {
  font-size: 50px;
  letter-spacing: 30px;
  color: $cyan;
  font-weight: bolder;
}

.comment-spacing {
  letter-spacing: 3px;
  font-size: 12px;
}

//add-div
.add-div {
  padding: 10px;
  margin-top: 30px;
  width: 300px;
}

.show-add { // to do <----------------------------------------------------------------------------------------
  display: none;
}
.add-div:hover{
  transform: scale(1.2);
  border:5px solid white;
}

// cards

.card-list {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.icon-settings {
  font-size: 150px;
}

.card-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-list .card-list-infos {
  width: 300px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}


.card-list .card-delete-list {
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 10;
}

.card-list:hover .card-delete-list{
  visibility:visible;
}

.pic-div {
  height: 200px;
  width: 300px;
}
.image-fit{
  height: 100%;
  width: 100%;
}
